name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      with:
        node-version: '14.x'

        - name: Install dependencies
          run: yarn

        - name: Build site
          run: yarn build

        - name: Deploy site
          uses: JamesIves/github-pages-deploy-action@4.1.1
          with:
            branch: gh-page
            folder: packages/dist

      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_TOKEN }}
        with:
          source-repo: git@github.com:qytayh/varlet-ui-pro.git
          destination-repo: git@gitee.com:qytayh/varlet-ui-pro.git
